<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <header>
        <h1 class="headline">
            {{title}}
        </h1>
        <ul class="header-list">
            <li class="header-list-item">
                <a class="header-link" href="{% url 'index' %}">
                    Top
                </a>
            </li>
            <li class="header-list-item">
                <a class="header-link" href="{% url 'introduction' %}">
                    自己紹介
                </a>
            </li>
        </ul>
    </header>
    <h2 class="main">
        {{ post.title }}
    </h2>
    <p class="main">
        {{ post.text }}
    </p>
    <p class="main">
        <a href="{% url 'index' %}">
            戻る
        </a>
    </p>
    <hr />
</body>
</html>