<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <header>
        <h1 class="headline">
            {{title}}
        </h1>
        <ul class="header-list">
            <li class="header-list-item">
                <a class="header-link" href="{% url 'index' %}">
                    Top
                </a>
            </li>
            <li class="header-list-item">
                <a class="header-link" href="{% url 'introduction' %}">
                    自己紹介
                </a>
            </li>
        </ul>
    </header>
    {% for post in posts %}
    <div>
        <h2 class="main">
            {{ post.title }}
        </h2>
        <p class="main">
            {{ post.text | truncatechars:120 }}
        </p>
        <p class="main">
            <a class="link" href="{% url 'detail' post.id %}">
                詳しく読む
            </a>
        </p>
        <p class="sub">
            投稿日時：
            {{ post.posted_at }}
        </p>
        <p class="sub">
            更新日　：
            {{ post.updated_at }}
        </p>
    </div>
    <hr />
    {% endfor %}
</body>
</html>